<configuration>
  <system.webServer>
    <handlers>
      <add name="Budprog Handle"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="C:\Program Files\Python310\python.exe|C:\Program Files\Python310\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           allowOverride="true"/>
    </handlers>
  </system.webServer>

    <appSettings>
    <!-- Required settings -->
    <add key="WSGI_HANDLER" value="Budprog.wsgi_app()" />
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\Budprog" />
    <add key="DJANGO_SETTINGS_MODULE" value="Budprog.settings" />
  </appSettings>
</configuration>
